a, a:link, a:visited, a:hover, a:active { 
    text-decoration: none; 
    color: inherit;
}

.vertical-navbar {
    background-color: #282c34;
    color: white;
    
}

.navbar-links {
    margin: .5em;
    font-size: small;
}